<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AppUserMinerIncomeMapper">

    <resultMap type="com.ruoyi.system.domain.AppUserMinerIncome" id="AppUserMinerIncomeResult">
        <id     property="id"             column="id"            />
        <result property="userId"         column="user_id"       />
        <result property="minerId"        column="miner_id"      />
        <result property="date"           column="date"          />
        <result property="minedAmount"    column="mined_amount"  />
        <result property="incomeUsdt"     column="income_usdt"   />
        <result property="incomeRmb"      column="income_rmb"    />
        <result property="powerCost"      column="power_cost"    />
        <result property="managementFee"  column="management_fee" />
        <result property="createTime"     column="create_time"   />
        <result property="updateTime"     column="update_time"   />
    </resultMap>

    <sql id="selectVo">
        select id, user_id, miner_id, date, mined_amount, income_usdt, income_rmb, power_cost, management_fee, create_time, update_time
        from app_user_miner_income
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="AppUserMinerIncomeResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <select id="selectList" parameterType="com.ruoyi.system.domain.AppUserMinerIncome" resultMap="AppUserMinerIncomeResult">
        <include refid="selectVo"/>
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="minerId != null">and miner_id = #{minerId}</if>
            <if test="date != null">and date = #{date}</if>
        </where>
        order by date desc, id desc
    </select>

    <insert id="insert" parameterType="com.ruoyi.system.domain.AppUserMinerIncome" useGeneratedKeys="true" keyProperty="id">
        insert into app_user_miner_income(user_id, miner_id, date, mined_amount, income_usdt, income_rmb, power_cost, management_fee)
        values(#{userId}, #{minerId}, #{date}, #{minedAmount}, #{incomeUsdt}, #{incomeRmb}, #{powerCost}, #{managementFee})
    </insert>

    <update id="update" parameterType="com.ruoyi.system.domain.AppUserMinerIncome">
        update app_user_miner_income
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="minerId != null">miner_id = #{minerId},</if>
            <if test="date != null">date = #{date},</if>
            <if test="minedAmount != null">mined_amount = #{minedAmount},</if>
            <if test="incomeUsdt != null">income_usdt = #{incomeUsdt},</if>
            <if test="incomeRmb != null">income_rmb = #{incomeRmb},</if>
            <if test="powerCost != null">power_cost = #{powerCost},</if>
            <if test="managementFee != null">management_fee = #{managementFee},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByIds" parameterType="java.lang.Long">
        delete from app_user_miner_income where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>

